* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    }

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 400;
    color: #0a0a0a;
    background-color:rgb(232, 234, 223);
    overflow: auto;
}

.container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.accordion {
    margin-bottom: 1rem;
}

.accordion__title {
    display: block;
    cursor: pointer;
}

.accordion-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}

.accordion__content {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.img {
    width: 80%;
    object-fit: cover;
}

.accordion-input:checked ~ .accordion__content {
    height: 100%;
    padding: 1rem 0;
    opacity: 1;
    transition: all 1.5s ease;
}

.accordion__item:hover .accordion__content {
    height: 100%;
    padding: 1rem 0;
    opacity: 1;
    transition: all 1.5s ease;
}

.ico {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__item:hover .ico {
    transform: rotate(45deg);
    transition: all 0.1s ease;
}

.accordion-input:checked ~ .title-container .ico {
    transform: rotate(45deg);
}
