* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    }

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: blue;
    background-color:rgb(232, 234, 223);
    overflow: auto;
}

h1 {
    font-size: 1.2rem;
    color:black;
}

.container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.accordion {
    margin-bottom: 1rem;
}

.accordion__title {
    display: block;
}

.accordion-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}

.accordion__content {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.img {
    width: 80%;
    object-fit: cover;
}

.accordion-input:checked ~ .accordion__content {
    height: 100%;
    padding: 1rem 0;
    opacity: 1;
    transition: all 1.5s ease;
}

.ico {
    display: inline-block;
    width: 0rem;
    height: 0rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-input:checked ~.title-container {
    color:black;
}


@media (min-width: 820px) {
    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.4rem;
    }
}


@media (min-width: 1920px) {
    body {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    .accordion__title {
        cursor: pointer;
    }

    .accordion:hover .ico {
        width: 3rem;
        height: 3rem;
        transition: 0.5s ease;
    }

    .accordion__item:hover .ico {
        transform: rotate(45deg);
        transition: all 0.1s ease;
    }

    .accordion-input:checked ~ .title-container .ico {
        transform: rotate(45deg);
    }

    .accordion__item:hover .accordion__content {
        height: 100%;
        padding: 1rem 0;
        opacity: 1;
        transition: all 1.5s ease;
    }

    .accordion:hover {
        color: black;
    }

    .accordion__item:active {
        color: blue;
        opacity: 0.7;
        transition: all 0.2s ease;
    }
}
